header {
    background-color: white;
    & .header-navigation {
        & ul li{
            transition: transform 0.3s;
        }
        & ul li:hover:not(:first-child)  {
            transform: scale(1.3);
        }
        & img{
            width: 80px;
        }
    }
}